<br />
<div class="alert alert-danger" role="alert" *ngIf="possuiErro">
    Erro obtendo dados. Tente novamente.
</div>
<div class="card">
    <div class="card-header alert-success">
        Selecione a moeda a ser convertida
    </div>
    <div class="card-body text-center">
        <form #conversaoForm="ngForm" class="form-inline">
            <input type="text" name="valor" class="form-control text-right mr-3 mb-2" placeholder="0" [(ngModel)]="conversao.valor" numero required>
            <select name="moedaDe" [(ngModel)]="conversao.moedaDe" class="form-control mb-2" required>
                <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                    {{moeda.sigla}} - {{moeda.descricao}}
                </option>
            </select>
            <i class="bi bi-arrow-right mx-2 mb-2"></i>
            <select name="moedaPara" [(ngModel)]="conversao.moedaPara" class="form-control mb-2" required>
                <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                    {{moeda.sigla}} - {{moeda.descricao}}
                </option>
            </select>
            <input type="submit" value="Converter" class="btn btn-success ml-3 mb-2" data-toggle="modal" data-target="#modalCotacao" (click)="converter()" [disabled]="!conversaoForm.form.valid">
        </form>
    </div>
    <modal-cotacao 
        [id]="'modalCotacao'"
        [conversaoResponse]="conversaoResponse"
        [conversao]="conversao"
        (onConfirm)="init()">
    </modal-cotacao>
</div>
