<br />
<div class="alert alert-danger" role="alert" *ngIf="possuiErro">
    Erro obtendo dados. Tente novamente.
</div>
<div class="card">
    <div class="card-header alert-success">
        Selecione a moeda a ser convertida
    </div>
    <div class="card-body text-center">
        <form #conversaoForm="ngForm" class="form-inline">
            <input type="text" name="valor" class="form-control text-right mr-3" placeholder="0" [(ngModel)]="conversao.valor" required>
            <select name="moedaDe" [(ngModel)]="conversao.moedaDe" class="form-control" required>
                <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                    {{moeda.sigla}} - {{moeda.descricao}}
                </option>
            </select>
            <i class="bi bi-arrow-right mx-2"></i>
            <select name="moedaPara" [(ngModel)]="conversao.moedaPara" class="form-control" required>
                <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                    {{moeda.sigla}} - {{moeda.descricao}}
                </option>
            </select>
            <input type="submit" value="Converter" class="btn btn-success ml-3" data-toggle="modal" data-target="#modalCotacao" (click)="converter()" [disabled]="!conversaoForm.form.valid">
        </form>
    </div>
</div>

<!-- modal  -->
<div class="modal fade"	tabindex="-1" id="modalCotacao" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalLabel">
              Conteudo titulo
          </h4>
        </div>
        <div class="modal-body text-center">
          <div>
              <h2>
                  Titulo do texto
              </h2>
              <p>
                  Texto
              </p>
          </div>
        </div>
        <div class="modal-footer">
          <button	type="button" class="btn btn-success"data-dismiss="modal">
              Nova consulta
          </button>
        </div>
      </div>
    </div>
  </div>